TELEGRAM_TOKEN = "SEU_TOKEN_DO_TELEGRAM"
GEMINI_API_KEY = "SUA_CHAVE_DA_API_DO_GEMINI"
# Para 1 planilha
SHEET_KEY = "SUA_CHAVE_DO_GOOGLE_SHEET"
# Para 2 planilhas
USER_1_SHEET_KEY = "SUA_CHAVE_DA_PLANILHA_DO_USUARIO_1"
USER_2_SHEET_KEY = "SUA_CHAVE_DA_PLANILHA_DO_USUARIO_2"

ENVIRONMENT = local
WEBHOOK_URL = "https://seu-app.onrender.com/webhook"